aside{
    width: 65%;
    height: 100vh;
    background: var(--bg-direito);
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    
}

.logo-bg-direita{
    
    width: 62%;
    margin-left:30px;
    margin-top: 100px;
}


.texto-cima-bg-direita, .texto-baixo-bg-direita{
    font-size: 26px;
    color: var(--letra-input);
}

.texto-cima-bg-direita{
    margin-left: 80px;
}

.texto-baixo-bg-direita{
    margin-bottom: 20%;
    margin-left: 10px;
}