@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}

:root{
    --bg-direito:#D9DCF2;
    --letra-input:#FFFF;
    --letra-destaque:black;
    --cinza:#C4C4C4;
    --input-submit:#DBDBF8

}

body{
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

form{
    display: flex;
    justify-content: center;
    
}

main{
    width: 100vw;
    height: 100vh;
    
}


#linha-horizontal-esquerda{
    width: 147px;
    border: 1px solid rgba(173, 171, 182, 1);
    height: 0px;
}

#linha-horizontal-direita{
    width: 147px;
    border: 1px solid rgba(173, 171, 182, 1);
    height: 0px;
}



.titulo-from{
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.caixa-input{
    width: 583px;
    height: 67px;

    background: var(--letra-input);
    border: 1px solid var(--cinza);
    box-sizing: border-box;
    border-radius: 50px;
}

.submit{
    width: 583px;
    height: 66px;
    background: var(--input-submit);
    border-radius: 50px;
    border: 0;
    

}